
.custom-body {
    background-color: #275864; 
    color: #e6dddd;
}


.custom-navbar {
    background-color: #275864; 
}

.custom-navbar .navbar-brand, 
.custom-navbar .navbar-nav .nav-link {
    color: #ffffff; 
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ac8cc4; 
}
.custom-navbar .navbar-brand {
    font-size: 4rem; 
    color: #ffffff; 
    font-weight: bold; 
}


.custom-container {
    background-color: #886e99; 
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 40px; 
}

@media (min-width: 576px) {
    .custom-container {
        max-width: 80%; 
    }
}


.custom-footer {
    background-color: #2e5863; 
    color: #ffffff; 
    text-align: center;
    padding: 30px 0;
    min-height: 200px;
    border-top: 2px solid 
    #ffffff; 
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.custom-footer p {
    margin: 0;
}


.custom-image {
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(235, 232, 232, 0.1); 
    transition: transform 0.3s ease;
    border: 2px solid #2e5863; 
}

.custom-image:hover {
    transform: scale(1.05); 
}

h2 {
    color: #ffffff; 
}


p {
    color: #ffffff; 
}


.btn-primary {
    background-color: #6e5f7e !important; 
    color: #ede7ee !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #ffffff !important; 
    color: #6e5f7e !important;
}